<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /mmedical/control/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mmedical/control/index.html [L]

</IfModule>